section {
  margin: 0 10%;
  h2 {
    font-size: 2rem;
  }
  p {
    font-size: 1rem;
  }
  article {
    text-align: center;
    position: sticky;
    top: 50px;
    border: 1px solid var(--mainElementColor);
    background-color: #242424;
    padding: 5%;
  }
}
