:root {
  font-family: "Lemon", serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --mainElementColor: #8b6f47;
  --secondElementColor: #fffdd0;
  --thirdElementColor: #5a3e36;
  --textColor: white;
}

html {
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}
